.bg-color{
    color: blueviolet;
    background-color: aquamarine;
}
.Q5Info{
    color: violet;
    background-color: aqua;
}
.Audia4{
    color: blue;
    background-color: rgb(138, 211, 211);

}
.AudiColor{
    color: blueviolet;
    background-color: burlywood;
}